# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/
obj/
.vs/

*.tlog
*.ipch
*.db-wal
*.db
*.opendb
*.db-shm
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
