<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Detours" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Gray_spdlog" version="1.10.0" targetFramework="native" />
  <package id="nlohmann.json" version="3.10.5" targetFramework="native" />
</packages>